:root {
    --clr-primary: #141414;
    --clr-secondary: #FFFFFF;
    --clr-action: #FFFFFF;
    --clr-inline_text: #005AE2;

    --bg-action: #0065FE;

}

* {
    margin: 0;
    padding: 0;
    color: var(--clr-primary);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

::before, ::after {
box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #FFFFFF;    
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
    /* text-align: center; */
}

header {
    display: block;
    height: 100svh;
    width: 100%;
    background: 
    linear-gradient(0.4turn, #d605050e, #FFFFFF, #FFFFFF),
    linear-gradient(2.6turn, #eac81f37, #FFFFFF, #FFFFFF),
    linear-gradient(0.5turn, #06780837, #FFFFFF, #FFFFFF),
    linear-gradient(336deg, #FFFFFF, #FFFFFF, #d6050511);
    position: relative;
}

header .desktop_nav_div {
    display: flex;
    width: 80%;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 10%;
    z-index: 3;
}

.logo {
    min-width: 10rem;
    min-height: 2.5rem;
}

nav {
    display: flex;
}

.mobile_nav_div {
    display: none;
}

nav ul {
    display: flex;
    font-size: 1rem;
    width: max-content;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

nav ul li {
    width: max-content;
}

nav ul li a {
    color: var(--clr-primary);
    padding: 0.5rem 1.3rem;

    &:hover {
        text-decoration: underline;
    }
}

.primary_nav .my_url_a, .secondary_nav .login {
    color: #0065FE;
}

.primary_nav .features {
    display: flex;
    align-items: center;
}

.primary_nav .features::after {
    display: block;
    content: ' ';
    width: 1.3rem;
    height: 1rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    background-image: url(icons/chevron_down.svg);
    background-position: center;
}

.secondary_nav .try_for_free {
    color: var(--clr-action);
    background-color: var(--bg-action);
    border-radius: 1.5rem;
    transition: 200ms ease;

    &:hover {
        text-decoration: none;
        background-color: #005AE2;
    }
}

/* burger menu */
.burger_div {
    display: none;
}
/*  */

.hero {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 6rem);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero .first_child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3rem;
    /* justify-content: center; */
    align-items: center;
    width: 80%;
    margin: 0 10%;
}

.first_child .title {
    display:  flex;
    flex-direction: column;
    align-items: center;
    animation: fromBottomToTop 800ms ease-out;
}

.first_child .title h1 {
    font-size: 3rem;
    /* font-weight: 500; */
    text-align: center;
    line-height: 6rem;
    width: 60rem;
}

.first_child .title h1 span {
    color: #005AE2;
}

.title::after {
    content: ' ';
    width: 10rem;
    height: 1.5rem;
    background-image: url(images/brushed_line.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -1.5rem;
    animation: brushBlob 2000ms ease-out;
    /* transition-delay: 400ms; */
}

@keyframes brushBlob {
    from {
        transform: translateY(2rem);
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
    
    60% {
        opacity: 0.9;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero .first_child p {
    font-size: 1.2rem;
    width: 48rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2rem;
    animation: appear 1000ms ease-out;
}

.hero .first_child .buttons_div {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.buttons_div a {
    width: 8rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 1.5rem;
    /* padding: 0.5rem 1rem; */
}

.buttons_div .sign_up {
    color: var(--clr-action);
    background-color: var(--bg-action);
    animation: fromLeftToRight 2000ms ease;
}

.buttons_div .learn_more {
    color: #0065FE;
    background-color: #FFFFFF;
    animation: fromRightToLeft 2000ms ease;
}

.hero .second_child {
    display: flex;
    width: 48rem;
    height: 16rem;
    margin: 0 10%;
    position: relative;
}

.hero .second_child .triangle_vector {
    height: 16rem;
    position: absolute;
    left: 0.3rem;
}

.second_child img + div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 48rem;
    height: 14rem;
    background-color: rgba(254, 254, 254, 0.10);
    -webkit-backdrop-filter: blur(6.6rem);
    backdrop-filter: blur(6.6rem);
    border-radius: 2rem;
    border: 1px solid #005AE2;
    position: absolute;
    top: 1rem;
    padding: 2rem 0 2rem 4rem;
    z-index: 1;
}

.second_child img + div .linked {
    display: flex;
    width: 100%;
    align-items: center;

    & img:not(.arrow_forward) {
        width: 5rem;
        animation: growBig 2000ms ease-out;
    }

    .arrow_forward {
        width: 4rem;
        padding: 0 1rem;
    }
}


@keyframes growBig {
    from {
        width: 3rem;
    }

    to {
        width: 5rem;
    }
}

.second_child img + div p {
    font-size: 1.2rem;
    width: 27rem;
    text-align: center;
}

.hero .third_child {
    display: block;
    height: 6rem;
    width: 100%;
}

.third_child .trapezoid {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 6rem solid #F8F7F7;
    border-left: 12.5rem solid transparent;
	border-right: 12.5rem solid transparent;
    height: inherit;
    width: inherit;
}

.third_child .oval {
    position: absolute;
    top: 1rem;
    height: 4rem;
    width: 90%;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(226, 233, 240, 0.70) 10.68%, rgba(220, 228, 235, 0.70) 44.01%, rgba(226, 233, 240, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(18, 36, 89, 0.35);
    animation: growWide 2000ms ease-out;
}

@keyframes growWide {
    from {
        width: 60%;
    }

    to {
        width: 90%;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

main .first_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: #F9FBFD;
    padding: 4rem 10%;
}

.first_section h2 {
    font-size: 2.5rem;
    
}

.first_section h2 span {
    color: #005AE2;
    
}

.first_section div {
    display: flex;
    /* align-items: center; */
    gap: 3rem;
}

.first_section div p {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0.2rem;
    width: 10rem;
}

.first_section div p span {
    font-size: 2rem;
    font-weight: 500;
}

main .second_section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 4rem 10%;
}

.second_section .choose_scissor {
    display: inherit;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
}

.second_section .choose_scissor h2 {
    font-size: 2.5rem;
    position: relative;
}

.second_section .choose_scissor h2::before {
    display: block;
    content: ' ';
    width: 0.4rem;
    height: 3rem;
    position: absolute;
    left: -1rem;
    background: linear-gradient(#112232, #4D6B88, #4d6b8819);
}

.second_section .choose_scissor h2 span {
    color: #005AE2;
}

.second_section .choose_scissor p {
    font-size: 1rem;
    padding-left: 1rem;
}

.second_section .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 45rem;
    gap: 3rem;
    justify-content: space-between;
}

.second_section .list .list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.second_section .list .list_item img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    background-color:  rgba(50, 132, 255, 0.13);
    margin-bottom: 1.5rem;
}

.second_section .list .list_item h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

.second_section .list .list_item p {
    font-size: 1rem;
}

main .third_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

.third_section .child_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.third_section .child_1 h2 {
    font-size: 2.5rem;
    position: relative;
}

.third_section .child_1 h2::before {
    display: block;
    content: ' ';
    width: 0.4rem;
    height: 3rem;
    position: absolute;
    left: -1rem;
    background: linear-gradient(#112232, #4D6B88, #4d6b8819);
}

.third_section .child_1 h2 span {
    color: #005AE2;
}

.third_section .child_1 p {
    font-size: 1rem;
    width: 32rem;
    text-align: center;
}

.third_section .price_list {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.price_list .price_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 20rem;
    height: 28rem;
    padding: 3rem;
    border-radius: 1rem;
}

.price_list .basic_price {
    border-radius: 1rem 0 0 1rem;
    border-top: 2px solid #005AE2;
    border-left: 2px solid #005AE2;
    border-bottom: 2px solid #005AE2;
}

.price_list .professional_price {
    width: 25rem;
    height: 39rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    z-index: 1;
}

.professional_price h4, 
.professional_price h5,
.professional_price p, 
.professional_price li {
    color: var(--clr-secondary);
}


.price_list .team_price {
    border-radius: 0 1rem 1rem 0;
    border-top: 2px solid #005AE2;
    border-right: 2px solid #005AE2;
    border-bottom: 2px solid #005AE2;
}


.price_list .price_type h4 {
    font-size: 1rem;
    font-weight: 400;
}

.price_list .price_type div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.price_list .price_type div h5 {
    font-size: 2rem;
    font-weight: 600;
}

.price_list .price_type div p {
    font-size: 1.2rem;
}

.price_list .price_type div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    font-size: 0.8rem;
}

.price_list .price_type div ul li {
    display: inherit;
}

.price_list .price_type div ul li::before {
    display: block;
    content: " ";
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(icons/check_circle_blue.svg);
    background-repeat: no-repeat;
}

.price_list .professional_price ul li::before {
    background-image: url(icons/check_circle.svg) !important;
}

.third_section .buttons_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.buttons_div button {
    width: 12rem;
    height: 3rem;
    border-radius: 6rem;
    font-size: 1rem;
    color: #005AE2;
    border: 2px solid #005AE2;
    background-color: #FFFFFF;
}

.buttons_div button + button{
    color: #FFFFFF;
    background-color: #005AE2;
}
/*  */

/* shorten url form */
.shorten_url {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    position: relative;
    overflow: hidden;
}

.shorten_url::before {
    display: block;
    content: ' ';
    width: 35rem;
    height: 100%;
    position: absolute;
    background-image: 
    url(images/vector_bg_before.svg), 
    url(images/vector_bg_before2.svg),
    url(images/vector_bg_before3.svg);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    z-index: 1;
}

.shorten_url::after {
    display: block;
    content: ' ';
    width: 30rem;
    height: 17.5rem;
    position: absolute;
    background-image: url(images/vector_bg_after2.svg), url(images/vector_bg_after.svg);
    background-position: right 0 top 9rem, right 0 bottom 0;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#url_shortener_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 30rem;
    height: 22rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 2.8rem;
    gap: 1.5rem;
    z-index: 2;
} 

#url_shortener_form input,
#url_shortener_form select,
#url_shortener_form button {
    display: flex;
    height: 3rem;
    border-radius: 1rem;
    border: 2px solid #005AE2;
    padding: 0.8rem;
    color: #005AE2;
    font-size: 0.8rem;
    background-color: #FFFFFF;
} 

#url_shortener_form input::placeholder {
    color: #005AE2;
}

#url_shortener_form #url_input {
    grid-area: 1 / 1 / 1 / 3;
}

#url_shortener_form .select_domain {
    display: flex;
    position: relative;
}

.select_domain select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
}

.select_domain .select_arrow_down {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    pointer-events: none;

}

#url_shortener_form select::after {
    display: block;
    content: ' ';
    width: 2rem;
    height: 2rem;
    background-image: url(icons/arrow_down_b.svg);
    position: absolute;
    right: 0;
    border: 2px solid red;
}

#url_shortener_form .trim_url_button {
    display: flex;
    grid-area: 3 / 1 / 3 / 3;
    color: var(--clr-action);
    background-color: var(--bg-action);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.terms_of_service {
    grid-area: 4 / 1 / 4 / -1;
    font-size: 0.9rem;
    color: #005AE2;
    padding: 0 1rem;
}

.terms_of_service a {
    color: #005AE2;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}
/*  */

/* FAQ section */
.faq_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    margin: 5rem auto 7rem auto;
}

.faq_section h2 {
    font-size: 2.5rem;
    position: relative;
}

.faq_section h2::before {
    display: block;
    content: ' ';
    width: 0.4rem;
    height: 3rem;
    position: absolute;
    left: -1rem;
    background: linear-gradient(#112232, #4D6B88, #4d6b8819);
}

.faq_list {
    display: flex;
    flex-direction: column;
    width: 49.5rem;
    gap: 1rem;
}

.faq_list .faq_list_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #D6D6D6;
    cursor: pointer;
}

.faq_list_item .faq {
    display: flex;
    justify-content: space-between;
}

.faq_list_item .faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.faq_list_item .faq h5 {
    font-size: 1rem;
    font-weight: 500;
}

.faq_list_item p {
    display: none;
    font-size: 0.8rem;
    width: 100%;
}

/* to be expanded */
.faq_details {
    display: inline-block !important;
}

@keyframes faqDetailsAnimation {
    from {
        transform: translateY(-1rem);
    }

    to {
        transform: translateY(0);
    }
}
/*  */

.faq .plus_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 14px;
    height: 14px;
}

.faq .plus_icon .vertical_line {
    display: block;
    width: 2.5px;
    height: 14px;
    background-color: #141414;
    position: absolute;
    transform: rotate(0deg);
}

.faq .plus_icon .horizontal_line {
    display: block;
    width: 2.5px;
    height: 14px;
    background-color: #141414;
    transform: rotate(90deg);
    position: absolute;
}

@keyframes rotateVertical {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes rotateHorizontal {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}
/*  */

/* link optimization section */
.link_optimization_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 25rem;
    position: relative;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0.00) 100%);
    overflow: hidden;
}

.link_optimization_section::before {
    display: block;
    content: ' ';
    width: 35rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: 
    url(images/link_opt_bg_before.svg),
    url(images/link_opt_bg_before2.svg),
    url(images/link_opt_bg_before3.svg);
    background-repeat: no-repeat;
}

.link_optimization_section::after {
    display: block;
    content: ' ';
    width: 33rem;
    height: 13rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: 
    url(images/link_opt_bg_after.svg),
    url(images/link_opt_bg_after2.svg),
    url(images/link_opt_bg_after3.svg);
    background-position: 
    right 0 bottom 0,
    right 0 bottom 0,
    right 0 bottom 0;
    background-repeat: no-repeat;
}

.link_optimization_section h2 {
    font-size: 3rem;
    color: var(--clr-secondary);
    font-weight: 500;
    z-index: 1;
}

.link_optimization_section button {
    font-size: 1rem;
    color: var(--clr-action);
    width: 12rem;
    line-height: 3rem;
    border: none;
    border-radius: 1.5rem;
    background-color: var(--bg-action);
    z-index: 1;
}
/*  */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 2rem 10% 4em 10%;
    position: relative;
}

footer::before {
    display: block;
    content: ' ';
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: 
    url(images/ftr_vector1.svg),
    url(images/ftr_vector2.svg),
    url(images/ftr_vector3.svg);
    background-repeat: no-repeat;
    background-position: 
    left 0 bottom 0,
    left 0 bottom 0,
    left 0 bottom 0;
}

footer::after {
    display: block;
    content: ' ';
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: 
    url(images/ftr_vector4.svg),
    url(images/ftr_vector5.svg),
    url(images/ftr_vector6.svg);
    background-repeat: no-repeat;
    background-position: 
    right 0 bottom 0,
    right 0 bottom 0,
    right 0 bottom 0;
}

.ftr_first_child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}

.ftr_first_child .socials_div {
    display: flex;
    flex-direction: column;
    width: 11.5rem;
    height: 6rem;
    justify-content: space-between;
}

.socials_div .footer_logo {
    min-width: 10rem;
    min-height: 2.5rem;
    filter: brightness(0) saturate(100%) invert(0%) sepia(41%) saturate(451%) hue-rotate(331deg) brightness(92%) contrast(84%);
}

.socials_div .social_media {
    display: inherit;
    justify-content: space-around;
    width: 100%;
}

.ftr_list_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 11.5rem 1fr;
    gap: 2.5rem;
}

.ftr_list_div div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 11rem;
}

.ftr_list_div div h5 {
    font-size: 1rem;
    font-weight: 500;
}

.ftr_list_div div ul li {
    font-size: 1rem;
    line-height: 1.5rem;
}

.ftr_list_div div ul li a {
    transition: 200ms ease;
}

.ftr_list_div div ul li a:hover {
    text-decoration: underline;
    transform: translateX(1rem);
}

.ftr_second_child {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 1;
}

.ftr_second_child a {
    font-size: 1rem;
}

.ftr_second_child a:hover {
    text-decoration: underline;
}

.ftr_second_child .terms,
.ftr_second_child .security {
    border-right: 2px solid #141414;
    padding-right: 1rem;
}

@media screen and (max-width: 767px) {
    header {
        height: auto;
    }

    header .desktop_nav_div {
        display: none;
    }

    .mobile_nav_div {
        display: flex;
        width: 90%;
        margin: 0 5%;
        position: relative;
        height: 6rem;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 0 5%;
        z-index: 3;
    }
    
    .mobile_nav_div .mobile_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100svh;
        z-index: 3;
        background-color: #FFFFFF;
        right: -5%;
        top: 0;
        padding: 8rem 0;
        gap: 6rem;
        border-radius: 2rem 0 0 2rem;
    }

    .show_mobile_nav {
        display: flex !important;
        animation: show_mobile_nav 200ms ease-out;
    }

    @keyframes show_mobile_nav {
        from {
            transform: translateX(6rem);
        }

        to {
            transform: translateX(0);
        }
    }

    .mobile_nav .primary_nav {
        position: relative;
    }

    .mobile_nav .primary_nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 2rem;
    }

    .mobile_nav .secondary_nav {
        position: relative;
    }

    .mobile_nav .secondary_nav ul {
        display: flex;
        width: 100%;
        gap: 2rem;
    }
    
    /* burger menu */
    .burger {
        display: block;
        height: 2.6rem;
        z-index: 4;
    }

    .burger_dash {
        display: flex;
        height: 0.4rem;
        width: 4rem;
        background-color: #141414;
        margin: 0.4rem 0;
        border-radius: 0.5rem;
        transition: all 400ms ease-in;
    }

    .burger_first_dash {
        transform: rotate(45deg);
        transition: transform 400ms ease-in;
    }

    .burger_second_dash {
        display: none;
        transition: display 400ms ease;
    }

    .burger_third_dash {
        transform: rotate(-45deg);
        transition: transform 400ms ease-in;
    }
    /*  */

    .hero {
        gap: 1rem;
    }

    .hero .first_child {
        margin: 0 5%;
        padding-top: 1.5rem;
        gap: 1rem;
    }
    
    .first_child .title h1 {
        font-size: 1.3rem;
        line-height: 2rem;
        width: 18rem;
    }

    .title::after {
        height: 1.5rem;
        top: -0.4rem;
        left: -2.5rem;
    }
    
    .hero .first_child p {
        font-size: 1rem;
        width: 18rem;
        margin-bottom: 0.5rem;
        line-height: 1.3rem;
    }

    .hero .first_child .buttons_div {
        gap: 0.5rem;
        width: auto;
        gap: 1.5rem;
    }

    .buttons_div a {
        font-size: 1rem;
        width: 6rem;
    }

    .hero .second_child {
        width: 18rem;
        height: 12.5rem;
        margin: 0 5%;
    }
    
    .hero .second_child .triangle_vector {
        height: 12.5rem;
        position: absolute;
        left: 0.3rem;
        z-index: 0;
    }
    
    .second_child img + div {
        width: 18rem;
        height: 11rem;
        padding: 1.5rem;
        z-index: 0;
    }

    .second_child img + div .linked {
        width: 100%;

        & img:not(.arrow_forward) {
            width: 3rem;
        }

        .arrow_forward {
            width: 3rem;
        }
    }

    @keyframes growBig {
        from {
            width: 1.5rem;
        }

        to {
            width: 3rem;
        }
    }

    .second_child img + div p {
        font-size: 1rem;
        width: 16rem;
        text-align: center;
        line-height: 1.3rem;
    }

    .hero .third_child {
        display: none;
        height: auto;
        width: 100%;
        z-index: 0;
        position: relative;
    }
    
    /* .third_child .trapezoid {
        border-bottom: 4rem solid #F8F7F7;
        border-left: 6.5rem solid transparent;
        border-right: 6.5rem solid transparent;
        height: inherit;
        width: inherit;
        z-index: 0;
    }

    .third_child .oval {
        top: 0.5rem;
        height: 3rem;
        z-index: 0;
    }
     */

    main .first_section {
        flex-direction: column;
        padding: 4rem 5%;
    }
    .first_section h2 {
        font-size: 1.3rem; 
    }
    
    .first_section h2 br {
        display: none;
    }
    
    .first_section div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5rem;
    }
    
    .first_section div p {
        font-size: 1rem;
        gap: 0.2rem;
        width: 9rem;
        align-items: center;
        text-align: center;
    }
    
    .first_section div p span {
        font-size: 1.5rem;
    }
    
    main .second_section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 3rem 5%;
    }
    
    .second_section .choose_scissor {
        align-items: center;
        /* width: 27rem; */
    }
    
    .second_section .choose_scissor h2 {
        font-size: 1.3rem;
    }
    
    .second_section .choose_scissor h2::before {
        height: 2rem;
    }
    
    .second_section .choose_scissor p {
        font-size: 1rem;
        padding-left: 0;
        width: 18rem;
        text-align: center;
    }
    
    .second_section .list {
        width: 18rem;
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .second_section .list .list_item {
        align-items: center;
        gap: 1rem;
    }

    .second_section .list .list_item h3 {
        font-size: 1.1rem;
    }
    
    .second_section .list .list_item p {
        text-align: center;
    }
    
    main .third_section {
        margin: 0 5% 4rem 5%;
    }

    .third_section .child_1 {
        width: 18rem;
    }
    

    .third_section .child_1 h2 {
        font-size: 1.3rem;
    }
    
    .third_section .child_1 h2::before {
        height: 2rem;
    }
    
    .third_section .child_1 p {
        width: 18rem;
    }

    .third_section .price_list {
        flex-direction: column;
        gap: 2rem;
    }

    .price_list .price_type {
        width: 17rem;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .price_list .basic_price {
        border-radius: 1rem;
        border: 2px solid #005AE2;
    }
    
    .price_list .professional_price {
        width: 18rem;
        height: 28rem;
    }
    
    .price_list .team_price {
        border-radius: 1rem;
        border: 2px solid #005AE2;
    }
    
    .shorten_url::before {
        width: 100%;
    } 
    
    
    .shorten_url::after {
        width: 100%;
    } 
    
    #url_shortener_form {
        margin: 0 5%;
        width: 18rem;
        gap: 1rem;
        padding: 1rem;
        /* grid-template-columns: 7rem 7rem; */
    } 

    #url_shortener_form input,
    #url_shortener_form select,
    #url_shortener_form button {
        font-size: 0.6rem;
        padding: 0.6rem;
    } 

    #url_shortener_form button {
        font-size: 0.8rem;
    } 

    .terms_of_service {
        text-align: center;
        font-size: 0.8rem;
    }
    
    .faq_section h2 {
        font-size: 1.3rem;
    }
    
    .faq_section h2::before {
        height: 2rem;
    }
    
    .faq_list {
        width: 18rem;
    }

    .faq_list_item .faq {
        gap: 1rem;
    }
    
    .link_optimization_section::before {
       width: 100%;
    }
    
    .link_optimization_section::after {
       width: 100%;
    }
    
    .link_optimization_section h2 {
        font-size: 1.3rem;
    }
    
    footer {
        padding: 2rem 5% 4em 5%;
    }

    footer::before {
        width: 18rem;
        background-size: 10rem;
    }

    footer::after {
        width: 15rem;
        background-size: 10rem;
    }

    .ftr_first_child {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .ftr_list_div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 1.5rem;
    }
    
    .ftr_list_div div {
        width: 9rem;
    }
    
    .ftr_second_child {
        justify-content: center;
    }

    .ftr_second_child a,
    .ftr_second_child p {
        font-size: 0.8rem;
        line-height: 1rem;
        text-align: center;
    }

    .ftr_second_child .security {
        border-right: none;
        padding-left: 1rem;
    }
    

    .ftr_second_child .copyright {
        border-left: 2px solid #141414;
        padding-left: 1rem;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1238px) {
    header .desktop_nav_div {
        display: none;
    }

    .mobile_nav_div {
        display: flex;
        width: 90%;
        margin: 0 5%;
        position: relative;
        height: 6rem;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: 0 5%;
        z-index: 3;
    }
    
    .mobile_nav_div .mobile_nav {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100svh;
        z-index: 3;
        background-color: #FFFFFF;
        right: -5%;
        top: 0;
        padding: 8rem 0;
        gap: 6rem;
        border-radius: 2rem 0 0 2rem;
    }

    .show_mobile_nav {
        display: flex !important;
        animation: show_mobile_nav 200ms ease-out;
    }

    @keyframes show_mobile_nav {
        from {
            transform: translateX(6rem);
        }

        to {
            transform: translateX(0);
        }
    }

    .mobile_nav .primary_nav {
        position: relative;
    }

    .mobile_nav .primary_nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 2rem;
    }

    .mobile_nav .secondary_nav {
        position: relative;
    }

    .mobile_nav .secondary_nav ul {
        display: flex;
        width: 100%;
        gap: 2rem;
    }
    
    /* burger menu */
    .burger {
        display: block;
        height: 3rem;
        z-index: 4;
    }

    .burger_dash {
        display: flex;
        height: 0.4rem;
        width: 4rem;
        background-color: #141414;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        transition: all 400ms ease-in;
    }

    .burger_first_dash {
        transform: rotate(45deg);
        transition: transform 400ms ease-in;
    }

    .burger_second_dash {
        display: none;
        transition: display 400ms ease;
    }

    .burger_third_dash {
        transform: rotate(-45deg);
        transition: transform 400ms ease-in;
    }
    /*  */

    .hero .first_child {
        margin: 0 5%;
    }
    
    .first_child .title h1 {
        font-size: 2rem;
        line-height: 5rem;
        width: 40rem;
    }
    
    .hero .first_child p {
        width: 40rem;
        margin-bottom: 1rem;
    }

    .hero .second_child {
        width: 40rem;
        margin: 0 5%;
    }
    
    .hero .second_child .triangle_vector {
        height: 15rem;
        position: absolute;
        left: 0.3rem;
    }
    
    .second_child img + div {
        width: 40rem;
        height: 13rem;
        padding: 2rem;
    }

    .hero .third_child {
        height: 5rem;
        width: 100%;
    }
    
    .third_child .trapezoid {
        border-bottom: 5rem solid #F8F7F7;
    }
    
    .third_child .oval {
        top: 0.5rem;
    }

    main .first_section {
        flex-direction: column;
        padding: 4rem 5%;
    }
    
    .first_section h2 {
        font-size: 1.5rem; 
    }
    
    .first_section h2 br {
        display: none;
    }
    
    .first_section div {
        gap: 1.5rem;
    }
    
    .first_section div p {
        font-size: 1rem;
        gap: 0.2rem;
        width: 9rem;
    }
    
    .first_section div p span {
        font-size: 1.5rem;
    }
    
    main .second_section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 3rem 5%;
    }
    
    .second_section .choose_scissor {
        align-items: center;
        width: 27rem;
    }
    
    .second_section .choose_scissor h2 {
        font-size: 1.5rem;
    }
    
    .second_section .choose_scissor h2::before {
        height: 2rem;
    }
    
    .second_section .choose_scissor p {
        font-size: 1rem;
        padding-left: 0;
    }
    
    .second_section .list {
        width: 43rem;
        gap: 2rem;
    }
    
    .second_section .list .list_item {
        align-items: center;
        gap: 1rem;
    }

    .second_section .list .list_item h3 {
        font-size: 1.2rem;
    }
    
    .second_section .list .list_item p {
        text-align: center;
    }
    
    main .third_section {
        margin: 0 5% 4rem 5%;
    }

    .third_section .child_1 h2 {
        font-size: 1.5rem;
    }
    
    .third_section .child_1 h2::before {
        height: 2rem;
    }

    .third_section .price_list {
        flex-direction: column;
        gap: 2rem;
    }

    .price_list .basic_price {
        border-radius: 1rem;
        border: 2px solid #005AE2;
    }
    
    .price_list .team_price {
        border-radius: 1rem;
        border: 2px solid #005AE2;
    }
    
    #url_shortener_form {
        margin: 0 5%;
    } 
    
    .terms_of_service {
        text-align: center;
    }
    
    .faq_section h2 {
        font-size: 1.5rem;
    }
    
    .faq_section h2::before {
        height: 2rem;
    }
    
    .faq_list {
        width: 30rem;
    }

    .faq_list_item .faq {
        gap: 1rem;
    }
    
    .link_optimization_section h2 {
        font-size: 2rem;
    }
    
    footer {
        padding: 2rem 5% 4em 5%;
    }

    .ftr_first_child {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .ftr_list_div {
        gap: 2rem;
    }
    
    .ftr_list_div div {
        width: 9rem;
    }
    
    .ftr_second_child {
        justify-content: center;
    }
    
}

/* animations on page load and scroll */

.bottom_to_top {
    animation: fromBottomToTop 1000ms ease-out;
}

.left_to_right {
    animation: fromLeftToRight 1000ms ease-out;
}

.right_to_left {
    animation: fromRightToLeft 1000ms ease-out;
}

.appear {
    animation: appear 1000ms ease-out;
}

@keyframes fromBottomToTop {
    from {
        transform: translateY(4rem);
        /* opacity: 0; */
    }
    /* 40% {
        opacity: 0.6;
    } */

    to {
        transform: translateY(0);
        /* opacity: 1; */
    }
}

@keyframes fromLeftToRight {
    from {
        transform: translateX(-3rem);
        /* opacity: 0; */
    }

    to {
        transform: translateX(0);
        /* opacity: 1; */
    }
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(3rem);
        /* opacity: 0; */
    }

    to {
        transform: translateX(0);
        /* opacity: 1; */
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}

/*  */